@font-face {
  font-family: 'Norwester';
  src: url('https://raw.githubusercontent.com/rcdjasmin/hidilyndiaz/master/norwester.eot'); /* IE9 Compat Modes */
  src: url('https://raw.githubusercontent.com/rcdjasmin/hidilyndiaz/master/norwester.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://raw.githubusercontent.com/rcdjasmin/hidilyndiaz/master/norwester.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://raw.githubusercontent.com/rcdjasmin/hidilyndiaz/master/norwester.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://raw.githubusercontent.com/rcdjasmin/hidilyndiaz/master/norwester.svg#norwesterregular') format('svg'); /* Legacy iOS */
}
