@font-face {
  font-family: 'Norwester';
  src: url(norwester.eot); /* IE9 Compat Modes */
  src: url(norwester.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
       url(norwester.woff) format('woff'), /* Pretty Modern Browsers */
       url(norwester.ttf)  format('truetype'), /* Safari, Android, iOS */
       url(norwester.svg#norwesterregular) format('svg'); /* Legacy iOS */
}
